.root-container {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-controller {
    display: flex;
    align-items: center;
    height: 35px;
    width: 400px;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid #ccc;
}

#tagline {
    text-align: center;
}